body {
    font-family: 'Inter';
    font-weight: 400;
    margin: 0px;
    width: 400px;
}

div#widget {
    font-family: 'Inter';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

div#form {
    display: flex;
    flex-direction: column;
}

div#top-bar {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

div#model-selector {
    padding-top: 0px;
    padding-left: 55px;
}

div#button-area {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
}

div#output-section {
    display: flex;
    flex-direction: column;
}

div.imageDiv {
    margin-top: 10px;
}

div.text-div > div.lower-output-bar {
    display: flex;
    flex-direction: row;
}

div.copy-div {
    padding-left: 10px;
    position: relative;
    width: 20px;
}

div.copy-div > img {
    cursor: pointer;
    height: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

label {
    font-size: 16px;
}

button {
    cursor: pointer;
}

button#generate {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: black;
    border-style: none;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

button#generate:hover {
    border-style: solid;
}

button#generate:active {
    border-style: none;
}

button.more-button {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    border-radius: 10px;
    width: 70px;
    height: 27px;
    text-align: center;
}

button.more-button:hover {
    background-color: black;
    color: white;
}

button.more-button:active {
    background-color: white;
    color: black;
}

textarea {
    font-family: 'Inter';
    font-weight: 400;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
}

img#logo {
    width: 100px;
    height: 24px;
}

img#spinner {
    height: 35px;
    margin-top: 2.3px;
    margin-left: -40px;
    visibility: hidden;
}

img.output-image {
    width: 100%;
}

p.output-text {
    font-size: 14px;
    margin-bottom: 8px;
}

p.copied-text {
    margin-top: 6.5px;
    margin-bottom: 0px;
}

select#model {
    border-radius: 5px;
    border-width: 1.5px;
    position: relative;
    top: 3.5px;
}

label {
    position: relative;
    top: 4px;
}