body {
    font-family: 'Inter';
    font-weight: 400;
    margin: 0px;
    width: 400px;
}

div#widget {
    font-family: 'Inter';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

div#form {
    display: flex;
    flex-direction: column;
}

div#top-bar {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

div#model-selector {
    padding-top: 4px;
    padding-left: 50px;
}

div#button-area {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
}

label {
    font-size: 16px;
}

button {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: black;
    border-style: none;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

button:hover {
    border-style: solid;
}

button:active {
    border-style: none;
}

textarea {
    font-family: 'Inter';
    font-weight: 400;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
}

img#logo {
    width: 100px;
    height: 24px;
}

img#spinner {
    height: 35px;
    margin-top: 2.3px;
    margin-left: -40px;
    visibility: hidden;
}

img#output-image {
    margin-top: 10px;
    width: 100%;
}

p#output-text {
    font-size: 14px;
}